<div class="user-page-container">
  <!-- Background Image -->
  <div class="background-image"></div>

  <!-- Overlay Content -->
  <div class="overlay">
    <!-- User Profile Section -->
    <div class="user-profile">
      <h1 class="page-title">My Profile</h1>

      <div class="profile-card">
        <!-- Profile Picture -->
        <div class="profile-picture">
          <img src="/profile-pic.jpg" alt="Profile Picture" class="profile-img">
        </div>

        @if (!isToggled){
          <!-- Read Only -->
          <div class="user-info">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Full Name:</strong> {{ user.name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            @if (user.phone){
              <p><strong>Phone number:</strong> {{ user.phone }}</p>
            }
            <p><strong>Member Since:</strong> {{ dateConverter(user.createdAt) }} </p>
           <div class="button-group">
              <button class="edit-btn" (click)="togle()">Edit</button>
              <button class="edit-btn" (click)="resetPassword()">Reset Password</button>
            </div>
          </div>
        } @else {          
          <!-- Edit Mode -->
          <div class="edit-profile">
            <h2 class="edit-title">Edit Profile</h2>
            
            <form class="edit-form" #editForm="ngForm" (ngSubmit)="editProfile(editForm)">
              
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" [(ngModel)]="user.username" name="username" ngModel #username="ngModel" required>
              </div>
              
              <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" [(ngModel)]="user.name" name="name"  ngModel #name="ngModel" required>
            </div>
            
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" [(ngModel)]="user.email" name="email"  ngModel #email="ngModel" required>
            </div>
            
            <div class="form-group">
              <label for="mobile">Phone Number</label>
              <input type="text" id="mobile" [(ngModel)]="user.phone" name="mobile"  ngModel #mobile="ngModel">
            </div>
            
            <div class="form-actions">
              <button type="submit" class="save-button" [disabled]="editForm.invalid">Save</button>
              <button type="button" class="cancel-button" (click)="cancelEdit()">Cancel</button>
            </div>
          </form>
        </div>
      }

      </div>
    </div>
  </div>
</div>