<div class="user-page-container">
    <!-- Background Image -->
    <div class="background-image"></div>
  
    <!-- Overlay Content -->
    <div class="overlay">
      <!-- User Profile Section -->
      <div class="user-profile">
        <h1 class="page-title">My Profile</h1>
  
        <div class="profile-card">
          <!-- Profile Picture -->
          <div class="profile-picture">
            <img src="/profile-pic.jpg" alt="Profile Picture" class="profile-img">
          </div>
  
          <!-- User Data -->
          <div class="user-info">
            <p><strong>Username:</strong> {{ user.userName }}</p>
            <p><strong>Full Name:</strong> {{ user.name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            @if (user.mobile){
              <p><strong>Phone number:</strong> {{ user.mobile }}</p>
            }
            <div class="hidePass">
              <i (click)="showPassword()" class="fa-regular fa-eye"></i>
              <p><strong>Password:</strong> {{ this.pass }}</p>
            </div>
            <p><strong>Member Since:</strong> {{ dateConverter(user.createdAt) }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  