<div class="add-theme-container">
    <!-- Background Image -->
    <div class="background-image"></div>
  
    <!-- Overlay Content -->
    <div class="overlay">
      <h1 class="page-title">Start a New Discussion</h1>
  
      <form class="theme-form" #form="ngForm" (ngSubmit)="newTheme(form)">
        <!-- Discussion Title -->
        <div class="form-group">
          <label for="title">Discussion Title</label>
          <input 
            type="text" 
            id="title" 
            name="title"
            placeholder="Enter a title for your discussion..." 
            ngModel
            #themeTitle="ngModel"
            minlength="4"
            [class.required]=" themeTitle.touched && themeTitle.invalid" 
            [attr.placeholder]="themeTitle.invalid && themeTitle.touched ? 'Title is required' : 'Enter a title for your discussion...'"
            required>
        </div>
  
        <!-- Game Selection -->
        <div class="form-group">
          <label for="game">Game Title</label>
          <input 
            id="game"
            name="game"
            ngModel
            #gameTitle="ngModel"
            placeholder="ex. Call of Duty: Black Ops 6"
            minlength="5"
            [class.required]=" gameTitle.touched && gameTitle.invalid" 
            [attr.placeholder]="gameTitle.invalid && gameTitle.touched ? 'Game title is required' : 'ex. Call of Duty: Black Ops 6'"
            required>
        </div>
  
        <!-- Discussion Content -->
        <div class="form-group">
          <label for="content">Discussion Content</label>
          <textarea 
            id="content" 
            name="content"
            rows="6" 
            ngModel
            #content="ngModel"
            placeholder="Share your thoughts or questions..." 
            minlength="10"
            maxlength="120"
            required>
          </textarea>
            @if (content.invalid && content.touched) {
              <p class="required-mess">Text should be at least 10 characters long</p>
            }
        </div>
  
        <button class="button" [disabled]="form.invalid">Create Discussion</button>
      </form>
    </div>
  </div>
  
