<header class="header">
    <div class="logo">
        <i routerLink="/home" class="fa-solid fa-gamepad fa-2x">GamesForum</i>
    </div>

    <div class="hamburger" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"> Menu</i>
    </div>
    
    <nav class="nav-menu" [class.active]="menuOpen">
        <ul>
            <li routerLink="/home" (click)="closeMenu()">Home</li>
            
            <!-- Create  -->
            <li routerLink="/newtheme" (click)="closeMenu()">Start Discussion</li>
            
            <!-- Browse through reviews -->
            <li routerLink="reviews" (click)="closeMenu()">Reviews Section</li>
            
            <!-- /* Games to come out soon */ -->
            <li routerLink="/top-games" (click)="closeMenu()">Top Games</li>

        </ul>
    </nav>
    @if(isLogged){
        <div class="auth-buttons">
            <button routerLink="/profile" class="btn login-btn">{{firstName}} <i class="fa-solid fa-user-astronaut"></i></button>
            <button (click)="logout()" class="btn register-btn">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
    } @else {
        <div class="auth-buttons">
            <button routerLink="/login" class="btn login-btn">Login <i class="fa-solid fa-user"></i></button>
            <button routerLink="/register" class="btn register-btn">Register <i class="fa-solid fa-user-plus"></i></button>
        </div>
    }
    
</header>