<header class="header">
    <div class="logo">
        <i routerLink="/home" class="fa-solid fa-gamepad fa-2x"></i>
    </div>
    <nav class="nav-menu">
        <ul>
            <li routerLink="/home">Home</li>
            
            <!-- Create a  -->
            <li>Start Discussion</li>
            
            <!-- Browse through reviews -->
            <li>Reviews Section</li>
            
            <!-- /* Games to come out soon */ -->
            <li>Coming Out Soon</li>
        </ul>
    </nav>
    <div class="auth-buttons">
        <button routerLink="/login" class="btn login-btn">Login <i class="fa-solid fa-user"></i></button>
        <button class="btn register-btn">Register <i class="fa-solid fa-user-plus"></i></button>
    </div>
</header>