<div class="home-container">
  <!-- Background image section -->
  <div class="background-image"></div>
  <!-- Overlay content -->
  <div class="overlay">
    <div class="content">
      <!-- Welcoming text -->
      <h1 class="welcome-text">Welcome to GameForum</h1>

      <!-- Search field -->
      <div class="search-container">
      @if(isLogged){
        <input type="text" class="search-field" placeholder="Search for game, reviews or a friend...">
        <button class="search-btn">Search</button>
      } @else {
        <p class="welcome-message">
          Welcome to GameForum – your go-to place for all things gaming! Connect with fellow gamers, explore upcoming releases, share reviews, and stay updated with the latest trends in the gaming world. Log in to join the conversation and start exploring!
        </p>        
      }
    </div>
    </div>
  </div>
</div>